In [3]:
import sqlite3

conn = sqlite3.connect(':memory:')

conn.execute('''
    CREATE TABLE Weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

conn.executemany('INSERT INTO Weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)

sql_query = '''
    SELECT w.id
    FROM Weather w
    WHERE (
        SELECT temperature
        FROM Weather
        WHERE recordDate = date(w.recordDate, '-1 day')
    ) < w.temperature
'''

result = conn.execute(sql_query).fetchall()

for row in result:
    print(row[0])

2
4